{% if page.show_banner -%}
  {% assign fl_url = 'https://developers.googleblog.com/2018/12/flutter-10-googles-portable-ui-toolkit.html' -%}
  <div class="site-banner site-banner--default" role="alert" dir="rtl">
    {% comment %} For headings use <h3> elements. {% endcomment -%}
{% comment %}
    <p>
      Flutter 1.0 has been released!
      <a href="{{fl_url}}" target="_blank" rel="noopener">Learn more</a>.
    </p>
{% endcomment %}
    <p>
      مشارکت در توسعه سایت. <a href="https://github.com/i-Naji/website">اطلاعات بیشتر</a>.
    </p>
    <p2>
      مسابقه فلاتر نویسی! <a href="/create">اطلاعات بیشتر</a>.
    </p2>
  </div>
{% endif -%}
